@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

    *:focus {
            outline: none !important;
        }
    
        /* Tailwind-specific: Remove focus and ring */
        *:focus-visible {
            outline: none !important;
            /* Remove the 'ring' property */
        }

        
    .box-shadow-sw {
        box-shadow: 0 1px #8f8f8f;
    }

    .container-sw {
        @apply container mx-auto max-w-[59rem] ;
    }

    .bg-sw {
        @apply bg-gradient-to-b from-white to-gray-100;
    }

        .sliced-div {
                clip-path: polygon(0 0, 90% 0,/*  */ 100% 100%, 0% 100%);
        }
}